<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Welcome {{ userName }}</h4>
  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap">
    <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
      <i class="btn-icon-prepend" data-feather="plus" appFeatherIcon></i>
      Create Dashboard
    </button>
  </div>
</div>

<div class="example">
  <p class="mb-2">
    <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      Toggle
    </button>
  </p>
  <div  >
    <div class="card">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>
</div>


<div class="folders">
  <div class="folder__header" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseExample">
    <i class="link-icon" data-feather="chevron-right"></i> My Drive
  </div>
  <div class="folder__list" id="collapseExample" [ngbCollapse]="isCollapsed">
    <div class="folder__list--item">
      <i></i>
    </div>
  </div>
</div>

<div class="brands-name">
  <div *ngFor="let data of ParentList; let $index=index;">
    <div (click)="Collaps($index)">Item{{index + 1}}</div>
    <div *ngIf="$index === expandedIndex">
      <div *ngFor="let data of ChildList;let i=index">
        <div class="row" style="margin-left:0px;margin-right:0px">
          <div class="col-sm-1">Sub-Item{{index + 1}}</div>
          <div class="col-sm-6" style="width: 80%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>