<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">

        <div class="col-md-12 pl-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <div class="text-center">
              <a routerLink="." class="noble-ui-logo d-block mb-4"> <img src="/assets/images/logo.jpg" alt=""></a>
              <h5 class="text-muted font-weight-normal mb-4">Create a free account.</h5>
            </div>

            <form class="forms-sample">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" id="firstname" autocomplete="firstName" placeholder="First Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastname" autocomplete="lastname" placeholder="Last Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"
                      autocomplete="current-password" placeholder="Password">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" placeholder="0202020000">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="jobtitle">Job Title</label>
                    <input type="text" class="form-control" id="jobtitle" placeholder="Job Title">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="company">Company</label>
                    <input type="text" class="form-control" id="company" placeholder="Company">
                  </div>
                </div>
              </div>
              <div class="form-check form-check-flat form-check-primary">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  <i class="input-frame"></i>
                  Remember me
                </label>
              </div>
              <div class="form-check form-check-flat form-check-primary">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  <i class="input-frame"></i>
                  I have read and accept the <a href="#"> Terms and Conditions. </a>
                </label>
              </div>
              <div class="form-check form-check-flat form-check-primary">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  <i class="input-frame"></i>
                  I have read and accept the <a href="#">Privacy Policy. </a>
                </label>
              </div>
              <div class="mt-3">
                <button type="submit" class="btn btn-primary mr-2 mb-2 mb-md-0" (click)="onRegister($event)">
                  Sing up
                </button>

              </div>
              <a routerLink="/auth/login" class="d-block mt-3 text-muted">Already a user? Sign in</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>