<h5 class="mb-3">Data Summary</h5>
<div class="row">
   <div class="col-6 col-xl-6 grid-margin stretch-card">
      <div class="card overflow-hidden">
         <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
               <h6 class="card-title mb-0">Revenue</h6>
               <div ngbDropdown>
                  <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button"
                     id="dropdownMenuButton3">
                     <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton3">
                     <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye"
                           appFeatherIcon class="icon-sm mr-2"></i> <span class="">View</span></a>
                     <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i
                           data-feather="edit-2" appFeatherIcon class="icon-sm mr-2"></i> <span class="">Edit</span></a>
                     <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i
                           data-feather="trash" appFeatherIcon class="icon-sm mr-2"></i> <span
                           class="">Delete</span></a>
                     <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i
                           data-feather="printer" appFeatherIcon class="icon-sm mr-2"></i> <span
                           class="">Print</span></a>
                     <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i
                           data-feather="download" appFeatherIcon class="icon-sm mr-2"></i> <span
                           class="">Download</span></a>
                  </div>
               </div>
            </div>
            <div class="row align-items-start mb-2">
               <div class="col-md-7">
                  <p class="text-muted tx-13 mb-3 mb-md-0">Revenue is the income that a business has from its normal
                     business activities, usually from the sale of goods and services to customers.</p>
               </div>

            </div>
            <div class="flot-wrapper">
               <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                  style="width: 100%; height: 400px; display: block;">
               </highcharts-chart>
            </div>
         </div>
      </div>
   </div>

   <div class="col-6 col-xl-6 grid-margin stretch-card">
      <div class="card overflow-hidden">
         <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
               <h6 class="card-title mb-0">Revenue</h6>
               <div ngbDropdown>
                  <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button"
                     id="dropdownMenuButton3">
                     <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton3">
                     <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye"
                           appFeatherIcon class="icon-sm mr-2"></i> <span class="">View</span></a>
                     <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i
                           data-feather="edit-2" appFeatherIcon class="icon-sm mr-2"></i> <span class="">Edit</span></a>
                     <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i
                           data-feather="trash" appFeatherIcon class="icon-sm mr-2"></i> <span
                           class="">Delete</span></a>
                     <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i
                           data-feather="printer" appFeatherIcon class="icon-sm mr-2"></i> <span
                           class="">Print</span></a>
                     <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i
                           data-feather="download" appFeatherIcon class="icon-sm mr-2"></i> <span
                           class="">Download</span></a>
                  </div>
               </div>
            </div>
            <div class="row align-items-start mb-2">
               <div class="col-md-7">
                  <p class="text-muted tx-13 mb-3 mb-md-0">Revenue is the income that a business has from its normal
                     business activities, usually from the sale of goods and services to customers.</p>
               </div>

            </div>
            <div class="flot-wrapper">
               <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions2"
                  style="width: 100%; height: 400px; display: block;">
               </highcharts-chart>
            </div>
         </div>
      </div>
   </div>
</div> <!-- row -->

<h5 class="my-3">Data Table</h5>
<div class="row">
   <div class="col-md-12 stretch-card">
      <div class="card">
         <div class="card-body">
            <div class="table-responsive">
               <ngx-datatable class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator"
                  [columnMode]="ColumnMode.force" [footerHeight]="50" [limit]="10" rowHeight="auto">
                  <ngx-datatable-column name="Id"></ngx-datatable-column>
                  <ngx-datatable-column name="Name"></ngx-datatable-column>
                  <ngx-datatable-column name="Gender"></ngx-datatable-column>
                  <ngx-datatable-column name="Age"></ngx-datatable-column>
                  <ngx-datatable-column name="City" prop="address.city"></ngx-datatable-column>
                  <ngx-datatable-column name="State" prop="address.state"></ngx-datatable-column>
               </ngx-datatable>
            </div>
         </div>
      </div>
   </div>
</div>